-r requirements.txt

# testing requirements
pytest>=6.2.3,<6.3.0

# repo maintenance tooling

#code styling enforcement tool 
black>=22.0.0,<23.0.0
#donde estamos metiendo malas convenciones 
flake8>=3.9.0,<3.10.0
#type checking tool
mypy==0.812
#los imports están ok 
isort==5.8.0
